

/*SEDES*/
.bg_img {
  @include bordes;
  @include img_background ('../img/gimnasios.webp');
  background-size: cover;
  margin: 3rem auto;
}
.sede {
  @include para_sedes;
  p {
    margin: 0;
  }
}
iframe {
  @include para_sedes;
  margin: 0;
  padding: 0;
}